.wrapper {
  position: absolute;
  left: calc(50% - 250px);
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background: #f1f1f1;
  z-index: 10;

  textarea {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
  }
  .btnSave {
    margin-top: 20px;
    padding: 5px 10px;
  }
  .btnClose {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}