.wrapper {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;

  p{
    margin-bottom: auto;
  }
  .tag {
    margin: 0 10px;

    &:hover {
      background: red;
      cursor: pointer;
    }
    .removeTagIcon {
      display: none;
      background: red;
    }
    &:hover > .removeTagIcon {
      display: inline;
    }
  }
  .r {
    background: red;
    margin: 0;
  }
}