.wrapper {
  position: relative;
  width: 200px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 5px;
  padding-bottom: 5px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background: #345f83;
    padding: 5px;

    .editNoteButton {
      padding: 0 10px;
    }

    .removeNoteIcon {
      top: 10px;
      right: 10px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: none;
      background: #ffc9c9;
    }
  }

  p {
    margin-bottom: auto;
    padding: 0 10px;
  }

  .tags{
    padding: 0 10px;
  .tag {
    background: #d0dcff;
    margin: 0 10px 0 0;
    padding: 0 5px;

    &:hover {
      background: red;
      cursor: pointer;
    }
  }
}

    .textTag {
      font-weight: 600;
    }

}