.wrapper {
  min-width: 30%;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 20px 10px 0 20px;
  background: cadetblue;

  font-size: 24px;
}
.link {

  display: flex;

  .tagRemove {
    display: none;
  }

  &:hover > .tagRemove {
    display: block;
  }
}